body {
  font: 14px "Courier", Courier, Arial, sans-serif;
}

a {
  color: blue;
}

#content {
	padding: 50px;
}


#content li {
  list-style-image: url('../images/heart.png');
}


#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

#search {
  width:500px;
  height: 70px;
  font-size:3.5em;
  border-radius:8px;
}