doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    #navbar
        ul
          li
            a(href="/users") All Bitches
            a(href="/users/add")  Add Bitch
            a(href="/search")  Search Bitches
    #content
      block content