extends layout
 
block content
    h1= title

    input#search(type="search", placeholder="Search Bitch")
    ul#results

    script(src="//code.jquery.com/jquery-2.2.3.min.js")
    script(src="/js/other.js")